.navbar-default {
  background-color: #5d5d5d;
  border-color: #9e9e9e;
}

.navbar-default .navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus {
  color: #00bff3;
}

.navbar-default .navbar-brand:hover {
  color: #009ac4;
}

.btn-default,
.btn-default:focus {
  color: #fff;
  background-color: #8dc63f;
  border-color: #bbdd8c;
}

.btn-default:hover {
  color: #fff;
  background-color: #7fb239;
  border-color: #bbdd8c;
}

.btn-default.active,
.btn-default:active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  color: #fff;
  background-color: #628a2c;
  border-color: #bbdd8c;
}

.modal-dialog {
  width: 420px;
}

.modal-header {
  background-color: #00bff3;
  border-bottom: 1px solid #9e9e9e;
}

.modal-body {
  background-color: #333;
}
